[Unit]
Description=Presek application stack
Wants=presek-worker.service presek-ingestion-worker.service presek-beat.service presek-fastapi.service presek-astro.service
After=network-online.target

[Install]
WantedBy=multi-user.target
