[Unit]
Description=Presek application stack
Wants=presek-worker.service presek-worker-ingestion.service presek-worker-ingestion-crawl.service presek-worker-fasttrack.service presek-worker-delivery.service presek-worker-maintenance.service presek-beat.service presek-fastapi-unified.service presek-astro.service
After=network-online.target

[Install]
WantedBy=multi-user.target
